<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://io.github.jpenren/sd">
<head>
<title>xyFS私有文件云存储OSS服务</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>


<div class="container">
<!-- START PAGE SIDEBAR -->
		<div class="page-header">
        	<h1>公共页面....</h1>
    	</div>
<!-- END PAGE SIDEBAR -->
    	
<!-- PAGE TITLE -->
		<div class="page-title">
			<h2>
				<span class="fa fa-arrow-circle-o-left"></span> 文件清单
			</h2>
		</div>
<!-- PAGE TITLE END-->		
		
	<table class="table table-striped table-hover">
		<thead>
			<tr>
			  <th><a class="sorted" sd:pagination-sort="username" >Username</a></th>
			  <th><a class="sorted" sd:pagination-sort="firstName" >First name</a></th>
			  <th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row : ${page}">
			  <th scope="row" th:text="${row.fileid}">Username</th>
			  <td th:text="${row.fileName}">Name</td>
			  <td ><button type="button"
								class="btn btn-primary btn-condensed">
								<i class="glyphicon glyphicon-folder-open"></i>
							</button></td>
			</tr>
		</tbody>
	</table>
	

	<div class="row">
	    <div class="col-sm-6">
	    每页<span sd:page-size-selector="javascript"></span>记录
		<!-- 	    	<div sd:pagination-summary="">info</div> -->
	    </div>
	    <div class="col-sm-6">
	    	<nav class="pull-right">
			<ul class="pagination" sd:pagination="full">
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			   	<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			</ul>
		</nav>
	    </div>
	</div>
	


</div>
<!-- PAGE FOOT -->
		<footer class="footer">
		    <div class="container">
		        <p class="text-muted">©2016-2019 昕有灵犀</p>
		    </div>
		</footer>
<!-- PAGE FOOT END -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>