<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://io.github.jpenren/sd">
	
<head th:include="head::header" />
    <script th:src="@{~/js/require.min.js}"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
<body>

<header >
<div th:replace="menu::menu">
</div>
</header>

<div class="container"> 	
    	
    	
    	
    	
 <div class="my-3 my-md-5">
          <div class="container">
    	
<!-- PAGE TITLE -->
		<div class="page-title">
			<h3>
				<span class="fa fa-arrow-circle-o-left"></span> 文件上传测试
			</h3>
		</div>
<!-- PAGE TITLE END-->		

	<div th:if="${message}">
		<h4 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/fileUpload">
			<table>
			<tr><td> appid:<input type="text" name="appid" value="100" /> </td></tr>
			<tr><td> username:<input type="text" name="username" value="wangxin" /></td></tr>
		    <tr><td>文件:</td><td><input type="file" name="file" /> <input type="hidden" name="groupid" value="" /> <input type="submit" value=" 上 传 " /></td></tr>
				
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>

</div>


<!-- PAGE FOOT -->

<footer  class="footer">
<div th:replace="foot::footer">
</div>
</footer>



</body>
</html>
