<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<div id="footerSection" th:fragment = "footer"  xmlns:th="http://www.w3.org/1999/xhtml" class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">
                <div class="col-auto">
                  <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="http://xyfs.mydoc.io/">xyFS Documentation</a></li>
                    <li class="list-inline-item"><a href="https://gitee.com/475660/xyTalk-pc">xyTalk</a></li>
                  </ul>
                </div>
                <div class="col-auto">
                  <a href="https://gitee.com/475660/xyFS" class="btn btn-outline-primary btn-sm">Source code</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2018 xyGroup All rights reserved.
            </div>
          </div>
          
          <!-- PAGE FOOT END -->
<script th:src="@{~/assets/js/vendors/jquery-3.2.1.min.js}"></script>
<!-- Latest compiled and minified JavaScript -->
<script th:src="@{~/assets/js/vendors/bootstrap.min.js}"></script>

</div>

</html>