<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" th:href="@{~/assets/img/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{~/assets/img/favicon.ico}"/>

    <title>xyFS私有文件云存储OSS服务</title>

<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!--     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext"> -->

    <!-- Dashboard Core -->
    
<!--     <link th:href="@{~/assets/css/dashboard.css}"  rel="stylesheet" /> -->
    <link href="/assets/css/dashboard.css"  rel="stylesheet" />
    <script src="/assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link th:href="@{~/assets/plugins/charts-c3/plugin.css}" rel="stylesheet" />
    <script th:src="@{~/assets/plugins/charts-c3/plugin.js}" ></script>
    <!-- Input Mask Plugin -->
    <script  th:src="@{~/assets/plugins/input-mask/plugin.js}"></script>
    
</head>
  

</html>